header, footer {
    background-color: #2b0f79;
    color: whitesmoke;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #647ff9;
    color: black;
}